<style>
	.demo {
		border:1px solid #C0C0C0;
		border-collapse:collapse;
		padding:5px;
	}
	.demo th {
		border:1px solid #C0C0C0;
		padding:5px;
		background:#F0F0F0;
	}
	.demo td {
		border:1px solid #C0C0C0;
		padding:5px;
        text-align: center;
	}
</style>
<table class="demo">	
    <caption>Weight</caption>
	<tbody>
    <tr>
        <td>Tanggal</td>
		<td>{{.DateString}}</td>
	</tr>
    <tr>
        <td>Max</td>
		<td>{{.Max}}</td>
	</tr>
    <tr>
        <td>Min</td>
		<td>{{.Min}}</td>
	</tr>
    <tr>
        <td>Perbedaan</td>
		<td>{{.Diff}}</td>
	</tr>
	</tbody>
</table>
<br>
<a href="/weight">Kembali</a>